{% extends 'admin_home.html' %}


{% block title %}Administrative functions{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      Here there be dragons. A lot of this is a work in progress.  You might not get any feed back upon creating, deleting or editing things in here but you should be able do things such as:
      <ul class="list-group">
	<li class="list-group-item">Create and modify campaigns as well as add/remove candidates for the campaign</li>
	<li class="list-group-item">Create and modify nominations and projects</li>
	<li class="list-group-item">View all users on the system, make a user from this list an administrator.</li>
	<li class="list-group-item">View all votes from a campaign</li>
      </ul>
    </div>
  </div>
</div>
{% endblock content %}
      
		  
