{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-12 mb-2">
    The JHU open source programs office (OSPO is running a Free and Open Source (FOSS) Contributor Fund that is described below. Through this fund, you will have the opportunity to vote for open source projects to receive $10,000 and nominate projects or software as well.
    <br/>
    <br/>
    The FOSS Contributor Fund program has been established to build a community of interest that will provide financial support for open source projects through a democratic and open process. The JHU OSPO has received a grant from the Sloan Foundation for the first year of our program through which we will hold votes that will rdesult in $10,000 being awarded to an open source project based on voting from within JHU. More information about the FOSS Contributor Fund program is available at:
    <br/>
    <br/>
    <a href="https://engineering.indeedblog.com/blog/2019/11/foss-fund-adopters">https://engineering.indeedblog.com/blog/2019/11/foss-fund-adopters</a>
  
    <br/><br/>
    The voting page and nomination page are linked on the left side menu. You can access the voting page directly at <a href="https://foss-fund.ospo.library.jhu.edu/vote">https://foss-fund.ospo.library.jhu.edu/vote</a><br/><br/>
    
    You also have a chance to nominate open source projects for subsequent rounds of monthly voting. You can access the nomination form at:<br/>
    <a href="https://foss-fund.ospo.library.jhu.edu/nominate">https://foss-fund.ospo.library.jhu.edu/nominate</a>
    <br/><br/>

    If you have any questions, please feel free to contact us at <a href="mailto:ospo@jhu.edu">ospo@jhu.edu</a>.<br/><br/>
  </div>
</div>
{% endblock %}

{% block title %}
Welcome
{% endblock title %}
