{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-12 mb-2">
    The JHU open source programs office (OSPO) invites you to participate in our first vote within the Free and Open Source (FOSS) Contributor Fund program. Through your participation in the GitHub enterprise account, the JHU global covid map or Stephen Walli’s intersession software engineering course, you have been identified as an eligible voter. The FOSS Contributor Fund program has been established to build a community of interest that will provide financial support for open source projects through a democratic and open process. The JHU OSPO has received a grant from the Sloan Foundation for the first year of our program through which we will hold monthly votes that will result in $10,000 being awarded to an open source project based on voting from within JHU. More information about the FOSS Contributor Fund program is available at:
    <br/>
    <br/>
    <a href="https://engineering.indeedblog.com/blog/2019/11/foss-fund-adopters/">https://engineering.indeedblog.com/blog/2019/11/foss-fund-adopters/</a>
    <br/>
    <br/>
    For our initial round of voting, we have opted to focus on maps and dashboards given JHU’s leadership with the global covid map. Enclosed below are descriptions of the six open source projects that we’ve identified for this initial round of voting:
    <br/>
    <br/>
    <b>OpenStreetMap</b> (<a href="https://www.openstreetmap.org">https://www.openstreetmap.org</a>)<br/>
    OpenStreetMap provides map data for thousands of web sites, mobile apps, and hardware devices. OpenStreetMap is built by a community of mappers that contribute and maintain data about roads, trails, cafés, railway stations, and much more, all over the world. The JHU Libraries hosted an event using Open Street Map to help with disaster response in Puerto Rico following Hurricane Maria.<br/><br/>
    <b>GRASS GIS</b> (<a href="https://grass.osgeo.org">https://grass.osgeo.org</a>)<br/>
    The Geographic Resources Analysis Support System (<a href="https://grass.osgeo.org/">(https://grass.osgeo.org/)</a>), commonly referred to as GRASS GIS, is an Open Source Geographic Information System providing powerful raster, vector and geospatial processing capabilities. It can be used either as a stand-alone application or as backend for other software packages such as QGIS and R or in the cloud. It is distributed freely under the terms of the GNU General Public License (GPL). GRASS GIS is a founding member of the Open Source Geospatial Foundation (OSGeo). There is anecdotal evidence of JHU researchers using GRASS GIS.<br/><br/>
    <b>Leaflet</b> (<a href="https://leafletjs.com/">https://leafletjs.com/</a>)<br/>
    Leaflet is the leading open-source JavaScript library for mobile-friendly interactive maps. Weighing just about 39 KB of JS, it has all the mapping features most developers ever need. There are 15 Esri leaflet repositories: <a href="https://github.com/Esri/esri-leaflet">https://github.com/Esri/esri-leaflet</a><br/><br/>
    <b>Islandora</b> (<a href="https://islandora.ca/">https://islandora.ca/</a>)<br/>
    Islandora is an open-source software framework designed to help institutions and organizations and their audiences collaboratively manage, and discover digital assets using a best-practices framework. Islandora was originally developed by the University of Prince Edward Island's Robertson Library, but is now implemented and contributed to by an ever-growing international community. The JHU Libraries will use Islandora to provide access to digitized maps from our collections.<br/><br/>
    <b>QGIS</b> (<a href="https://www.qgis.org/en/site/">https://www.qgis.org/en/site/</a>)<br/>
    QGIS is a user friendly Open Source Geographic Information System (GIS) licensed under the GNU General Public License. QGIS is an official project of the Open Source Geospatial Foundation (OSGeo). It runs on Linux, Unix, Mac OSX, Windows and Android and supports numerous vector, raster, and database formats and functionalities. There is anecdotal evidence of JHU researchers using QGIS.<br/><br/>
    <b>GDAL</b> (<a href="https://gdal.org/">https://gdal.org/</a>)<br/>
    GDAL is a translator library for raster and vector geospatial data formats that is released under an X/MIT style Open Source License by the Open Source Geospatial Foundation. As a library, it presents a single raster abstract data model and single vector abstract data model to the calling application for all supported formats. It also comes with a variety of useful command line utilities for data translation and processing. It is part of the Esri software platform that was used for the JHU global covid map: <a href="https://github.com/Esri/gdal">https://github.com/Esri/gdal</a><br/><br/>

    The voting page and nomination page are linked on the left side menu. You can access the voting page directly at <a href="https://foss-fund.ospo.library.jhu.edu/vote">https://foss-fund.ospo.library.jhu.edu/vote</a><br/><br/>
    
    You also have a chance to nominate open source projects for subsequent rounds of monthly voting. You can access the nomination form at:<br/>
    <a href="https://foss-fund.ospo.library.jhu.edu/nominate">https://foss-fund.ospo.library.jhu.edu/nominate</a>
    <br/><br/>

    If you have any questions, please feel free to contact us at <a href="mailto:ospo@jhu.edu">ospo@jhu.edu</a>.<br/><br/>
  </div>
</div>
{% endblock %}

{% block title %}
Welcome
{% endblock title %}
