{% extends 'base.html' %}

{% block title %}
Nomination Successful
{% endblock title %}

{% block content %}
<div class="cnotainer-fluid">
  <div class="row">
    <div class="col text-center fs-2">Thank you for your participation in the JHU OSPO FOSS Contributor Fund!</div>
  </div>
  <div class="row m-2"><div class="row"></div></div>
  <div class="row">
    <div class="col">
      Your nomination could help an FOSS project be awarded up to $10k in our monthly FOSS Contributor Fund.
    </div>
  </div>
</div>
{% endblock content %}
