{% extends 'base.html' %}

{% block title %}
{{ campaign.title }}
{% endblock title %}

{% block content %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
      updateVoteOrder();
      $(function() {
	  $("ul.sortable#candidates").sortable({
		update: function(event, ui) {
			updateVoteOrder();
		}
	});
      });

/*       $('form#vote button#submit').click(function(e) {
	  var campaign_id = "{{ campaign.id }}"
	  var item_order = new Array()
	  $('ul.sortable div').each(function() {
	      item_order.push($(this).attr('id'));
	  });

	  var url = "{{ url_for('vote_blueprint.vote', campaign_id=campaign.id) }}"
	  var data = JSON.stringify({ "jhed_id": "{{ user.jhed_id }}", "campaign_id": "{{ campaign.id }}", "votes": { "votes": item_order }})

	  console.log(data)
	  console.log(url)
	  
/	  $.ajax({
	      type: 'POST',
	      url: url,
	      contentType: "application/json",
	      data: data,
	      success: function(data) {
		  var target = "{{ url_for('vote_blueprint.vote', campaign_id=campaign.id) }}"
		  $(location).attr('href', target);
	      }
	  });

	  e.preventDefault();
      }); */

      $.ajaxSetup({
	  beforeSend: function(xhr, settings) {
	      if(!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
		  xhr.setRequestHeader('X-CSRFToken', "{{ form.csrf_token._value() }}")
	      }
	  }
      })

  });

  function updateVoteOrder() {
      var item_order = new Array();
      console.log("triggered")
      $('ul.sortable div').each(function() {
          item_order.push($(this).attr("id"));
      });


	  $('input#order').val(JSON.stringify({ "votes": item_order}))
      console.log(item_order)
  }
</script>
<div class="container-lg">
  <div class="row">
    <div class="col-md mb-2 border-bottom">
      Order the projects below by preference and click 'Submit'. Your vote will be recorded and will help us decide which project will get the OSPO FOSS Contributor Fund award this month.
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      {% for candidate in candidates %}
      <div class="row"><b>{{ candidate.project.name }} <a href="{{ candidate.url }}">{{ candidate.url }}</a></b></div>
      <div class="row">
	<div class="content mb-2" >{{ candidate.project.description }}</div>
      </div>
      {% endfor %}
    </div>
    <div class="col-4">
      <form method="POST" id="vote" class="form-control" action="{{ url_for('vote_blueprint.vote', campaign_id=campaign.id) }}">
		{{ form.csrf_token }}
		<input type="hidden" id="order" name="votes">
		<input type="hidden" name="jhed_id" value="{{ user.jhed_id }}" />
		<input type="hidden" name="campaign_id" value="{{ campaign.id }}" />
		<div class="row">
		  <div id="message">Order by preference</div>
		</div>
		<ul class="sortable list-group mb-2" id="candidates">
		  {% for candidate in candidates %}
		  <div class="list-group-item border sortable content ml=2" id="{{ candidate.id }}">{{ candidate.project.name }}</div>
		  {% endfor %}
		</ul>
		<div class="row flex-row-reverse">
		  <div class="col-md-6 content justify-content-end">
		    <button type="submit" class="btn btn-primary form-control" id="submit">Submit</button>
		  </div>
		</div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
